
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">Flitpay</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/api-reference">Api reference</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!auth.authenticated()"><a class="turn_hand" (click)="auth.login()">Log in</a></li>
            <li *ngIf="auth.authenticated()" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/profile">Account profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="turn_hand" (click)="auth.logout()">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>
