<!DOCTYPE html>
<html>
    <head>
        <title>WearetecAPi documentation</title>
        <meta charset="UTF-8"/>


        <link rel="stylesheet" type="text/css" href="assets/css/semantic.css"/>

        <link rel="stylesheet" type="text/css" href="assets/css/scrolling-nav.css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    </head>

    <body>

        <my-app>Loading AppComponent content here ...</my-app>


        <!-- Polyfill(s) for older browsers -->
        <script src="lib/core-js/client/shim.min.js"></script>

        <script src="lib/zone.js/dist/zone.js"></script>
        <script src="lib/reflect-metadata/Reflect.js"></script>
        <script src="lib/systemjs/dist/system.src.js"></script>

        <script src="assets/js/systemjs.config.js"></script>
        <script>
            System.import('app').catch(function(err){ console.error(err); });
        </script>

        <!-- jQuery -->
        <script src="assets/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!--&lt;!&ndash; Scrolling Nav JavaScript &ndash;&gt;-->
        <!--<script src="assets/js/jquery.easing.min.js"></script>-->
        <!--<script src="assets/js/scrolling-nav.js"></script>-->

        <!--  Semantic UI -->
        <script src="assets/js/semantic.js"></script>

    </body>
</html>
