<div class="main-container">
    <div id="top"></div>
    <header class="site-header">
        <nav class="site-nav navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Header Logo -->
                    <a class="header-logo load-content" href="#home">
                        <img src="assets/img/logo.png" style="height:100%; width:75px;" alt="" class="logo-light">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li ><a routerLink="">Home</a></li>
                        <li ><a pageScroll href="#about">About</a></li>
                        <li ><a pageScroll href="#docs">Get started</a></li>
                        <li ><a pageScroll href="#docs">Docs</a></li>
                        
                        <li *ngIf="!auth.authenticated()" ><a href="#" (click)="auth.login()">Login</a></li>
                        <li *ngIf="auth.authenticated()" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/profile">Profile</a></li>
                                <li><a href="#" (click)="auth.logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    
    <router-outlet></router-outlet>

</div>
