<!-- Intro Section -->
<section id="top" class="top-section">
    <div class="jumbotron">
        <h1>wearetchapi</h1>
        <p>Mobile money api</p>
        <p><a class="btn btn-primary">Get started</a></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h1>What's wearetecapi</h1>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-lg-4 "></div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Docs Section -->
<section id="docs" class="docs-section">
    <div class="container">
        <div class="row">
            <h1>Get started</h1>
            <p>To get started with the wearetechapi; there are just few steps that one should follow. First of all you should: </p>
            <div class="row col-md-6 col-md-offset-3">
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Register to get your api key</h2>
                    <p style="text-align: left; line-height: 2.5em;">
                        This api key will be later couple with your api script in order to identified and secure all your client transactions
                    </p>
                </div>
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Download the script</h2>
                    <ul style="text-align: justify !important;">
                        <li>Via the CDN</li>
                        <li>On Github</li>
                        <li>Or take it from our server. </li>
                    </ul>
                    <code>&lt;script src="https://paiementback.herokuapp.com/assets/js/wearetechapi-v1.js"&gt;&lt;/script&gt;</code>
                </div>
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Set your script API Key</h2>
                    <p style="text-align: left; line-height: 2.5em;">
                        After your registration on our plateforme you receive an api key. Use our api method <a href="#"><code>WAPI.setApiKey(&lt; fill your api key &gt;)</code></a>
                    </p>
                </div>
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Define the call back method</h2>
                    <p style="text-align: left; line-height: 2.5em;">
                        The next step is to define the call back method <a href="#"><code>WAPI.setApiCallback(function(data))</code></a>. This method will help
                        you to handle responses from your clients operation. The parameter <code >data</code> is an objet with describe the status of an
                        initiated operation. For more details on this; <a href="#">see the documentation.</a>.
                    </p>
                </div>
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Create your buttons</h2>
                    <p>
                        Now to take on a payment, you just have to create a specific
                        button in your page. That bouton should have <span></span>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer Section -->
<section id="foot" class="foot-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4" >
                        <h2 class="ui horizontal divider header">
                            <i class="browser icon"></i> Guide
                        </h2>
                        <ul style="text-align: justify !important;">
                            <li><a href="#">Souscription</a></li>
                            <li><a href="#">Downloads the script</a></li>
                            <li><a href="#">Create button</a></li>
                            <li><a href="#">Implement the callback</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="ui horizontal divider header">
                            <i class="settings icon"></i>
                            API reference
                        </h2>
                        <ul style="text-align: justify !important;">
                            <li><a href="#">WAPI object</a></li>
                            <li>
                                <a href="#">Attributes</a>
                                <ul>
                                    <li><a href="#">apiKey</a></li>
                                    <li><a href="#">apiCallback</a> </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Method </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="ui horizontal divider header">
                            <i class="configure icon"></i>
                            Advance
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

