
<section class="section page-title">
    <div class="section-container">
        <div class="container">
            <h1>Documentation</h1>
            <p class="lead"></p>
        </div>
    </div>
</section>

<section class="section notoppadding">
    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 bt-docs-sc">
                    <div class="bt-docs-sidebar">
                        <div class="sidebar-heading">
                            <h3 class="sidebar-title">Get started</h3>
                        </div>
                        <nav>
                            <ul class="nav nav-stacked bt-docs-sidenav">
                                <li><a pageScroll href="#docs-shortcodes-one" >Register to get your api key</a></li>
                                <li><a pageScroll href="#docs-shortcodes-two" >Download the script</a></li>
                                <li><a pageScroll href="#docs-shortcodes-three">Set your script API Key</a></li>
                                <li><a pageScroll href="#docs-shortcodes-four" >Define the call back method</a></li>
                                <li><a pageScroll href="#docs-shortcodes-five" >Create your buttons</a></li>
                            </ul>
                        </nav><br/>
                        <div class="sidebar-heading">
                            <h3 class="sidebar-title">Api reference</h3>
                        </div>
                        <nav>
                            <ul class="nav nav-stacked bt-docs-sidenav">
                                <li><a pageScroll href="#api_attribute">Attributes</a></li>
                                <ul class="nav">
                                    <li><a pageScroll href="#api_attribute1" >apiCallback</a></li>
                                    <li><a pageScroll href="#api_attribute2">apiKey</a></li>
                                </ul>
                                <li><a pageScroll href="#api_method">Methods</a></li>
                                <ul class="nav">
                                    <li><a pageScroll href="#api_method1" >loadScript</a></li>
                                    <li><a pageScroll href="#api_method2" >setApiButtonEventListener</a></li>
                                    <li><a pageScroll href="#api_method3" >setApiCallback</a></li>
                                    <li><a pageScroll href="#api_method4" >setCloseButton</a></li>
                                    <li><a pageScroll href="#api_method5" >setCloseButtonEventListener</a></li>
                                    <li><a pageScroll href="#api_method6" >setValidateButton</a></li>
                                    <li><a pageScroll href="#api_method7" >setValidateButtonEventListemer</a></li>
                                </ul>
                            </ul>
                        </nav>

                    </div>
                </div>

                <div class="col-md-9 bt-docs-content">
                    <div class="bt-docs-section">
                        <!-- About Section -->
                        <section id="about" class="section">
                            <div class="bt-docs-box">
                                <h2 class="page-header">About Flitpay</h2>
                                <div class="box-secondary">
                                    <h3 class="page-header">Description</h3>
                                    <p>AThis is Lorem ipsum the description of the api we are ...</p>
                                </div>
                                <div class="box-secondary">
                                    <h3 class="page-header">Api requirements</h3>
                                    <ul>
                                        <li>
                                            <code>socket.io</code>
                                            <p>
                                                enables real-time bidirectional event-based communication.
                                                It works on every platform, browser or device, focusing equally on reliability and speed.
                                                <a href="http://socket.io/docs" target="_blank">see the documentation for more details.</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section><!-- About Section -->

                        <!-- Docs Section -->
                        <section id="docs" class="section">
                            <div class="bt-docs-box" >
                                <h2 class="page-header">Get started</h2>
                                <div class="box-secondary" id="docs-shortcodes-one">
                                    <h3 class="page-header">Register to get your api key</h3>
                                    <p>
                                        To get started with the Flitpay; there are just few steps that one should follow. First of all you should <a href="#">register </a> to receive an api key.
                                        This api key will be later couple with your api script in order to identified and secure all your client transactions.
                                    </p>
                                </div>

                                <div class="box-secondary" id="docs-shortcodes-two">
                                    <h3 class="page-header">Download the script</h3>
                                    <span>
                                    <ul>
                                        <li>Via the CDN
                                            <pre class="line-numbers language-html"><code>&lt;script src="cdn://.../wearetechapi-v1.js" &gt;&lt;/script &gt;</code></pre>
                                        </li>
                                        <li>On Github
                                            <pre class="line-numbers language-html"><code>&lt;script src="github://.../wearetechapi-v1.js" &gt;&lt;/script &gt;</code></pre>
                                        </li>
                                        <li>Or take it from our server.
                                            <pre class="line-numbers language-html"><code>&lt;script src="https://paiementback.herokuapp.com/assets/js/wearetechapi-v1.js" &gt;&lt;/script &gt;</code></pre>
                                        </li>
                                    </ul>

                                </span>
                                </div>

                                <div class="box-secondary" id="docs-shortcodes-three">
                                    <h3 class="page-header">Set your script API Key</h3>
                                    <p>
                                        After your registration on our plateforme you receive an api key. Use our api method
                                        <a href="#">
                                            <code>WAPI.setApiKey(&lt; fill your api key &gt;)</code>
                                        </a>
                                    </p>
                                </div>

                                <div class="box-secondary" id="docs-shortcodes-four">
                                    <h3 class="page-header">Define the call back method</h3>
                                    <span>
                                    The next step is to define the call back method <a href="#">
                                    <code>WAPI.setApiCallback(function(data))</code></a>. This method will help
                                    you to handle responses from your clients operation. The parameter <code>&lt; data &gt;</code> is an objet with describe the status of an
                                    initiated operation. For more details on this, <a href="#">see the documentation.</a>.
                                </span>
                                </div>

                                <div class="box-secondary" id="docs-shortcodes-five">
                                    <h3 class="page-header">Create your buttons</h3>
                                    <span>
                                    Now to take on a payment, you just have to create a specific
                                    button in your page. This code below show the the template of a generic flitpay button where :
                                    <ul>
                                        <li>
                                            <code>amount</code>: is total amount the client whil have to pay.
                                        </li>
                                        <li>
                                            <code>Should-Script-Handle</code>: is a value which describe whether or not our API should handle the button.
                                            <ul>
                                                <li>If this value is "0" the script will not handle click event on this button</li>
                                                <li>If it's every value different from 0, the click even on this button will be handle by our API</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </span>
                                    <pre class="line-numbers language-html"><code> &lt;button data-amount="&lt;amount&gt;" data-wearetechbtn="&lt;Should-Script-Handle&gt;" &gt;Acheter cahier&lt;/button&gt; </code></pre>
                                </div>
                            </div>
                        </section>

                        <section id="api_reference" class="section">
                            <div class="bt-docs-box">
                                <h2 class="page-header">API Reference</h2>
                                <div class="box-secondary">
                                    <h3 class="page-header" id="api_attribute">Attributes</h3>
                                    <ul>
                                        <li id="api_attribute1"><code>apiCallback</code></li>
                                        <li id="api_attribute2"><code>apiKey</code></li>
                                    </ul>
                                </div>
                                <div class="box-secondary">
                                    <h3 class="page-header" id="api_method">Methods</h3>
                                    <ul>
                                        <li id="api_method1"><code>loadScript</code></li>
                                        <li id="api_method2"><code>setApiButtonEventListener</code></li>
                                        <li id="api_method3"><code>setApiCallback</code></li>
                                        <li id="api_method4"><code>setCloseButton</code></li>
                                        <li id="api_method5"><code>setCloseButtonEventListener</code></li>
                                        <li id="api_method6"><code>setValidateButton</code></li>
                                        <li id="api_method7"><code>setValidateButtonEventListemer</code></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <!-- Footer -->
    <footer class="site-footer section">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                    <p>Copyright &copy; 2016 Flitpay. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <a class="backToTop scrollto" href="#top"><i class="fa fa-angle-up"></i></a>
</div>

