<!-- Get Started Section -->
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <h1>Get started</h1>
            <div class="row col-md-6 col-md-offset-3">
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Download the script</h2>
                    <p style="text-align: left; line-height: 2.5em;">
                        To use the wearetechapi you first needs to download the script. You can
                        <a href="#">take it from our web site</a> or just insert this :<br/>
                        <code>&lt;script src="https://paiementback.herokuapp.com/assets/js/wearetechapi-v1.js"&gt;&lt;/script&gt;</code>
                    </p>
                </div>
            </div>
            <div class="row col-md-6 col-md-offset-3">
                <div class="ui" style="margin-top: 10%;">
                    <h2 class="ui horizontal divider header">Create your button</h2>
                    <p>
                        Now to take on a payment, you just have to create a specific
                        button in your page. That buuton should have <span></span>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>