<div class="row">
    <div class="container col-md-offset-3 col-md-6">
        <div class="jumbotron">
            <div class="container" style="text-align: center!important;">
                <h2>{{profile.nickname}}'s profile</h2>
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img class="img-circle" src="{{profile.picture}}">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">Email :</div>
                    <div class="col-md-6">{{profile.email}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Api key :</div>
                    <div class="col-md-6">xxx-xxxxx-xxxxx-xxxxx</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Registered :</div>
                    <div class="col-md-6">{{profile.created_at}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Action</div>
                    <div class="col-md-6"><a class="btn btn-primary btn-sm" role="button">Edit profile</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>